.jumbotron1{
    background-image: url(../../../images/abstracto/abstract-background-luxury-cloth-or-liquid-wave-or-wavy-folds-of-grunge-silk-texture.jpg);
    background-position: right;
    text-shadow: 5px 5px 5px rgb(19, 6, 196);
    color: white;
    border-radius: 0;
    margin-bottom: 0;
}